[submodule "src/dnp3/opendnp3"]
	path = src/dnp3/opendnp3
	url = https://github.com/dnp3/opendnp3
[submodule "src/mongo-cxx-driver/mongo-cxx-driver"]
	path = src/mongo-cxx-driver/mongo-cxx-driver
	url = https://github.com/mongodb/mongo-cxx-driver.git
