conf/json-scada.json

bin/
!bin/Readme.md

temp/
mongodb-data/
mongodb-runtime/
postgresql-data/
postgresql-runtime/
grafana-runtime/
nodejs-runtime/
nginx_php/
platform-windows/browser-runtime/
platform-windows/browser-data/
platform-windows/installer-release/
platform-windows/inkscape-runtime/
platform-windows/mongodb-compass-runtime/
platform-windows/mongodb-data/
platform-windows/mongodb-runtime/
platform-windows/postgresql-data/
platform-windows/postgresql-data/
platform-windows/grafana-runtime/
platform-windows/nodejs-runtime/
platform-windows/nginx_php-runtime/

src/calculations/calculations
src/i104m/i104m
src/dnp3/opendnp3-3.0.4/
src/dnp3/Dnp3Client/bin/
src/dnp3/Dnp3Client/obj/
src/dnp3/Dnp3Client/Properties/
demo-docker/bin/
*.exclusivelock
pg_hist_*.sql
pg_rtdata_*.sql

obj/

node_modules/
src/lib60870.netcore/.vs/
src/lib60870.netcore/iec101client/bin/
src/lib60870.netcore/iec101server/bin/
src/lib60870.netcore/iec104client/bin/
src/lib60870.netcore/iec104server/bin/
src/lib60870.netcore/lib60870.netcore/bin/

[Dd]ebug/
[Rr]elease/
publish/

.vs/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.log

.DS_Store


