name: DNP3 Client .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
    - name: Install dependencies
      working-directory: sr/dnp3/Dnp3Client
      run: dotnet restore
    - name: Build DNP3 Client
      working-directory: src/dnp3/Dnp3Client
      run: dotnet build --configuration Release 
