name: libplctag

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.1
    - name: Install dependencies
      working-directory: src/libplctag/libplctag.NET/src/libplctag
      run: dotnet restore
    - name: Build lib60870
      working-directory: src/libplctag/libplctag.NET/src/libplctag
      run: dotnet build --configuration Release 
